// Utility class for visually hiding elements while keeping them accessible
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.dropdown__root {
  border: none;
  outline: none;
  position: relative;

  display: flex;
  flex-direction: column;

  &.--filled {
    .dropdown__label {
      font-size: 10px;
      top: 0.4rem;
    }

    .dropdown__field {
      padding-top: 1.4rem;
    }
  }

  &.--focused {
    &.--outlined {
      border-bottom: 1px solid var(--portoSegurosPrimary);
      background-color: rgba(0, 0, 0, 0.02);
    }

    &.--default {
      border-radius: 4px;
      border: 1px solid var(--portoSegurosPrimary);
    }

    &.dropdown__icon {
      transform: rotateX(180deg);
    }
  }

  &.--outlined {
    border-bottom: 1px solid var(--black45);
    background-color: rgba(0, 0, 0, 0.02);
  }

  &.--default {
    border-radius: 4px;
    border: 1px solid var(--black45);
  }

  &.--fluid {
    width: 100%;
  }

  &.--contain {
    min-width: 200px;
  }

  &.--disabled {
    pointer-events: none;
    background: var(--black05);
    z-index: 1;

    i,
    .dropdown__label {
      color: var(--black65);
    }
  }

  &.--error {
    &.--outlined {
      border-bottom: 1px solid var(--red80);
    }

    &.--default {
      border-radius: 4px;
      border: 1px solid var(--red80);
    }

    &.--filled {

      .dropdown__label,
      .dropdown__icon {
        color: var(--red80);
      }
    }
  }
}

.dropdown__trigger {
  height: 4.8rem;
  color: var(--black100);
  padding: 0rem 1.2rem;
  font-family: var(--open-sans);
  font-size: var(--medium);
  font-weight: var(--regular);
  border-radius: 0.4rem;
  border: none;
  cursor: pointer;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown__label {
  pointer-events: none;
  position: absolute;
  top: 1.4rem;
  left: 1.2rem;
  font-family: var(--open-sans);
  font-size: var(--text-4xs);
  font-weight: var(--regular);
  color: var(--black75);
  line-height: 2rem;
  transition: 0.2s;
}

.dropdown__field {
  background-color: transparent;
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  font-family: var(--open-sans);
  font-size: var(--text-4xs);
  color: var(--black100);
  min-width: 30.4rem;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-appearance: none;
  cursor: pointer;

  &.--readonly {
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }
}

.dropdown__icon {
  transition: all 0.2s ease;

  &.--up {
    transform: rotateZ(180deg);
  }

  &.--down {
    transform: rotateZ(0deg);
  }
}

.dropdown__list-box {
  width: 100%;
  flex-direction: column;
  position: absolute;
  background-color: var(--white);
  cursor: pointer;
  display: none;
  border-radius: 0.4rem;
  max-height: 19.2rem;
  border: 1px solid #b3b3b3;
  top: 51px;
  overflow-y: auto;
  display: flex;

  filter: drop-shadow(0px 4px 8px var(--black15));

  ::-webkit-scrollbar {
    width: 14px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--black65);
    border: 5px solid var(--white);
    border-radius: 10px;
  }
}

.dropdown__list {
  max-height: 145px;
  overflow-y: scroll;
  position: absolute;
  top: 110%;
  width: 100%;
  border: 1px solid var(--black30);
  border-radius: 6px;
  z-index: 2;
}

.dropdown__item {
  font-size: 1.4rem;
  font-family: var(--open-sans);
  color: var(--black85);
  font-weight: 400;
  padding-left: 1.2rem;
  display: flex;
  align-items: center;
  min-height: 4.8rem;
  background: var(--white);
  border: 0.1rem solid transparent;
  outline: none;

  &:hover {
    background: #f1f8ff;
  }

  &:focus {
    outline: none;
  }

  &--selected {
    background: #f1f8ff;
    font-weight: 600;
  }

  &:focus {
    border: 0.1rem solid var(--portoSegurosPrimary);
  }
}

.dropdown__helper-text {
  font-size: var(--text-3xs);
  color: var(--black70);
  font-family: var(--open-sans);
  font-weight: var(--medium);
  line-height: var(--text-md);
  margin: 0.3rem 0 0 1.2rem;
}