.typography {
  $variants: (
    title1: (
      font: $font-family-secondary,
      size: $font-size-6xl,
      line: 4.4rem,
      md-size: $font-size-8xl,
      md-line: 6rem,
    ),
    title2: (
      font: $font-family-secondary,
      size: $font-size-5xl,
      line: 4rem,
      md-size: $font-size-7xl,
      md-line: 5.2rem,
    ),
    title3: (
      font: $font-family-secondary,
      size: $font-size-4xl,
      line: 3.6rem,
      md-size: $font-size-6xl,
      md-line: 4.4rem,
    ),
    title4: (
      font: $font-family-secondary,
      size: $font-size-3xl,
      line: 3.2rem,
      md-size: $font-size-4xl,
      md-line: 3.6rem,
    ),
    title5: (
      font: $font-family-secondary,
      size: $font-size-2xl,
      line: 2.8rem,
    ),
    title6: (
      font: $font-family-secondary,
      size: $font-size-lg,
      line: 2.4rem,
    ),
    body1: (
      font: $font-family-primary,
      size: $font-size-md,
      line: 2.4rem,
    ),
    body2: (
      font: $font-family-primary,
      size: $font-size-4xs,
      line: 2rem,
    ),
    caption: (
      font: $font-family-primary,
      size: $font-size-3xs,
      line: 2rem,
    ),
    label: (
      font: $font-family-primary,
      size: $font-size-2xs,
      line: 1.4rem,
    ),
    overline: (
      font: $font-family-primary,
      size: $font-size-4xs,
      line: 2rem,
    ),
    button: (
      font: $font-family-primary,
      size: $font-size-md,
      line: 2rem,
    ),
  );

  @each $name, $style in $variants {
    &.--#{$name} {
      font-family: map-get($style, font);
      font-size: map-get($style, size);
      line-height: map-get($style, line);

      @if map-has-key($style, md-size) {
        @media (min-width: $breakpoint-lg) {
          font-size: map-get($style, md-size);
          line-height: map-get($style, md-line);
        }
      }
    }
  }
}
