.tooltip__card {
  width: 24rem;
  height: 30.8rem;
  padding: 16px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  border: 1px solid #e0e0e0;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}