.text-body__root {
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);

  &.--light {
    background-color: var(--color-neutral-0);

    .text-body__title,
    .text-body__subtitle,
    .text-body__text {
      color: var(--color-neutral-700);
    }
  }

  &.--dark {
    background-color: var(--color-neutral-800);

    .text-body__title,
    .text-body__subtitle,
    .text-body__text {
      color: var(--color-neutral-0);
    }
  }
}

.text-body__title {
  @media (min-width: 768px) {
    font-size: var(--font-size-5xl);
    line-height: var(--font-size-6xl);
  }
}

.text-body__buttons {
  display: flex;
  gap: 2rem;
}