.text-body {
  background-color: var(--color-neutral-0);
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);

  &__title,
  &__subtitle,
  &__text {
    color: var(--color-neutral-700);
  }

  &__buttons {
    display: flex;
    gap: 2rem;
  }
}

@media (min-width: 768px) {
  .text-body__title {
    font-size: var(--font-size-5xl);
    line-height: var(--font-size-6xl);
  }
}
