@import '../../../../packages/css/src/tokens/breakpoints.scss';

.banner-body__content {
  margin: 2.4rem;
  display: flex;
  justify-content: center;
  flex-direction: column;

  img {
    max-width: 15rem;
  }

  @media (min-width: $tablet-portrait) {
    margin: 2.4rem auto;
    order: 2;
    width: calc(48% - 2rem);
  }

  @media (min-width: $desktop) {
    width: calc(38% - 2rem);
  }
}