.carrouselCustom {
  width: calc(315px * 4);
}

.container {
  height: 535px;
  background-color: var(--color-neutral-0);
  border: 1px solid var(--black30);
  border-radius: var(--radii-sm);
  position: relative;
  padding: 2.4rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  margin-bottom: 1.6rem;
}

.badge {
  background-color: var(--color-neutral-800);
  padding: 5px 10px;
  position: absolute;
  top: 28px;
  right: 20px;
}

.month-price {
  margin-bottom: 0.4rem;
}

.lower-text {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.decimal {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.monthYear {
  margin-bottom: 1.6rem;
}

.button {
  margin-bottom: 2rem;
}

.benefit {
  margin-bottom: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link {
  cursor: pointer;
  text-decoration: none;
}