.skeleton__block {
  background-color: #e0e0e0;
  animation: pulse 6s linear infinite;
}

@keyframes pulse {
  0% {
    filter: brightness(1);
  }

  25% {
    filter: brightness(0.85);
  }

  50% {
    filter: brightness(1);
  }

  75% {
    filter: brightness(0.85);
  }

  100% {
    filter: brightness(1);
  }
}