.plans-carousel {
  max-width: max-content;

  .slick-prev {
    left: -30px;
  }

  .slick-next {
    right: -30px;
  }

  >div {
    max-width: 100%;
  }

  .slick-track {
    >div {
      width: 315px !important;
      margin-right: 1rem;
    }
  }

  @media screen and (min-width: 1024) {
    .slick-track {
      >div {
        margin-right: 1.9rem;
      }
    }
  }
}