@import "./tokens/font-weight.scss";
@import "./tokens/font-style.scss";
@import "./tokens/font-size.scss";

$font-styles: (
  "normal": $font-style-normal,
  "italic": $font-style-italic,
);

$font-weights: (
  "light": $font-weight-light,
  "regular": $font-weight-regular,
  "medium": $font-weight-medium,
  "semibold": $font-weight-semibold,
  "bold": $font-weight-bold,
);

$font-sizes: (
  "text-sm": $font-size-sm,
  "text-md": $font-size-md,
  "text-lg": $font-size-lg,
  "text-xl": $font-size-xl,
  "text-2xl": $font-size-2xl,
  "text-3xl": $font-size-3xl,
  "text-4xl": $font-size-4xl,
  "text-5xl": $font-size-5xl,
  "text-6xl": $font-size-6xl,
  "text-7xl": $font-size-7xl,
  "text-8xl": $font-size-8xl,
  "text-9xl": $font-size-9xl,
);

.--font-weight {
  @each $name, $value in $font-weights {
    &-#{$name} {
      font-weight: #{$value};
    }
  }
}

.--font-style {
  @each $name, $value in $font-styles {
    &-#{$name} {
      font-style: #{$value};
    }
  }
}

.--font-size {
  @each $name, $value in $font-sizes {
    &-#{$name} {
      font-size: #{$value};
    }
  }
}
