.textarea__root {
  position: relative;
  width: 100%;

  &.--filled .textarea__label {
    font-size: $font-size-xs;
    top: $space-xs;
  }

  &.--filled .textarea__field {
    padding-top: $space-xl;
  }

  &.--focused {
    &.--outlined .textarea__field {
      border-bottom: 1px solid $color-brand-insurance-500;
      background-color: rgba(0, 0, 0, 0.02);
    }

    &.--default .textarea__field {
      border: 1px solid $color-brand-insurance-500;
      border-radius: $radius-sm;
    }
  }

  &.--outlined .textarea__field {
    border-bottom: 1px solid $color-neutral-400;
    background-color: rgba(0, 0, 0, 0.02);
  }

  &.--default .textarea__field {
    border: 1px solid $color-neutral-400;
    border-radius: $radius-sm;
  }

  &.--fluid {
    width: 100%;
  }

  &.--contain {
    width: max-content;
  }

  &.--disabled .textarea__field {
    pointer-events: none;
    background-color: $color-neutral-100;
    color: $color-neutral-500;
  }

  &.--disabled .textarea__label {
    color: $color-neutral-400;
  }

  &.--error {
    & .textarea__counter,
    & .textarea__label {
      color: $color-accent-red-700;
    }

    &.--outlined .textarea__field {
      border-bottom: 1px solid $color-accent-red-700;
    }

    &.--default .textarea__field {
      border: 1px solid $color-accent-red-700;
      border-radius: $radius-sm;
    }
  }
}

.textarea__label {
  position: absolute;
  top: $space-md;
  left: $space-md;
  font-family: $font-family-primary;
  font-size: $font-size-sm;
  color: $color-neutral-700;
  line-height: 2rem;
  transition: 0.2s;
  pointer-events: none;
}

.textarea__field {
  width: 100%;
  padding: $space-sm $space-md;
  font-family: $font-family-primary;
  font-size: $font-size-sm;
  color: $color-neutral-900;
  border: none;
  resize: vertical;
  transition: border 0.2s ease;
  min-width: 30.4rem;
}

.textarea__counter {
  position: absolute;
  bottom: -$space-lg;
  right: 0;
  font-size: $font-size-xs;
  color: $color-neutral-600;
  font-family: $font-family-primary;
  font-weight: $font-weight-medium;
}

.textarea__helper-text,
.textarea__error-message {
  position: absolute;
  bottom: -$space-lg;
  left: 0;
  font-size: $font-size-xs;
  font-family: $font-family-primary;
  font-weight: $font-weight-medium;
  line-height: $font-size-md;
}

.textarea__error-message {
  color: $color-accent-red-700;
}
