@import '../../../css/src/tokens/breakpoints.scss';
@import '../../../css/src/tokens/colors.scss';

.banner-hero__root {
  height: 100%;
  padding: 0 0 2.4rem 0;

  .grid {
    margin: 0;
    height: 100%;
  }

  &.--light {

    .banner-hero__title,
    .banner-hero__subtitle {
      color: $black85;
    }

    .banner-hero__text {
      color: $black75;
    }
  }

  &.--dark {

    .banner-hero__title,
    .banner-hero__text,
    .banner-hero__subtitle {
      color: $white;
    }
  }

  .grid {
    display: flex;
    flex-direction: column-reverse;
  }

  .banner-hero__subtitle.desktop {
    display: none;
  }

  @media (min-width: $tablet-portrait) {
    position: relative;
    overflow: hidden;

    .grid {
      display: grid;
      flex-direction: unset;
      padding-bottom: 0rem;
    }

    .banner-hero__subtitle {
      &.mobile {
        display: none;
      }

      &.desktop {
        display: flex;
      }
    }
  }

  @media screen and (min-width: $tablet-landscape) {
    height: 48rem;
    padding: 2.4rem;

    .grid {
      margin: 0 auto;
      height: 100%;
      min-height: 37.8rem;
    }
  }
}