// .chip {
//   width: max-content;
//   background-color: transparent;
//   border-radius: 1.2rem;
//   padding: var(--space-sm) var(--space-lg);
//   text-wrap: nowrap;
//   cursor: pointer;
//   display: flex;
//   align-items: center;

//   i {
//     font-size: 1.6rem;
//   }

//   &:hover {
//     background-color: var(--color-neutral-200);
//     border: 1px solid var(--color-neutral-0);
//   }

//   &:active {
//     background-color: var(--color-brand-insurance-200);
//     border: 1px solid var(--color-brand-insurance-200);
//   }

//   &.--light {
//     border: 1px solid var(--color-neutral-200);
//     color: var(--color-neutral-800);

//     i {
//       color: var(--color-neutral-800);
//     }

//     &.--selected {
//       border: 1px solid var(--color-brand-insurance-200);
//       background-color: var(--color-brand-insurance-200);
//     }
//   }

//   &.--dark {
//     border: 1px solid var(--color-neutral-600);
//     color: var(--offWhite);

//     i {
//       color: var(--offWhite);
//     }

//     &:hover,
//     &:active {
//       color: var(--color-neutral-800);

//       i {
//         color: var(--color-neutral-800);
//       }
//     }
//   }
// }

// .chip__text {
//   text-decoration: none;
//   font-size: var(--font-size-xs);
//   font-family: var(--font-family-primary);
//   font-weight: var(--font-weight-bold);
//   gap: 0.8rem;
//   align-items: center;
//   display: flex;

//   @media (min-width: var(--breakpoint-sm)) {
//     font-size: var(--font-size-lg);
//   }
// }

.chip {
  width: max-content;
  border-radius: 1.2rem;
  padding: var(--space-sm) var(--space-lg);
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: transparent;
  text-wrap: nowrap;

  transition: background-color 0.25s ease, border-color 0.25s ease,
    color 0.25s ease;

  i,
  .chip__icon {
    font-size: 1.6rem;
    margin-right: 0.6rem;
  }

  &:hover {
    background-color: var(--color-neutral-200);
    border: 1px solid var(--color-neutral-0);
  }

  &:active {
    background-color: var(--color-brand-insurance-200);
    border: 1px solid var(--color-brand-insurance-200);
  }

  &.--light {
    border: 1px solid var(--color-neutral-200);
    color: var(--color-neutral-800);

    i {
      color: var(--color-neutral-800);
    }

    &.--selected {
      border: 1px solid var(--color-brand-insurance-200);
      background-color: var(--color-brand-insurance-200);
    }
  }

  &.--dark {
    border: 1px solid var(--color-neutral-600);
    color: var(--offWhite);

    i {
      color: var(--offWhite);
    }

    &:hover,
    &:active {
      color: var(--color-neutral-800);

      i {
        color: var(--color-neutral-800);
      }
    }
  }
}

.chip__text {
  font-size: var(--font-size-xs);
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-bold);
  display: flex;
  align-items: center;
  gap: 0.8rem;

  @media (min-width: var(--breakpoint-sm)) {
    font-size: var(--font-size-lg);
  }
}

.chip__close {
  background: none;
  border: none;
  font-size: 1.2rem;
  margin-left: 0.8rem;
  cursor: pointer;
  color: inherit;
  transition: opacity 0.2s ease;

  &:hover {
    opacity: 0.6;
  }
}
