// Font Families
$font-family-primary: "Raleway", sans-serif;
$font-family-secondary: "Open Sans", sans-serif;

// Font Weights
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// Font Styles
$font-style-normal: normal;
$font-style-italic: italic;

// Font Sizes
$fs-xs: 0.8rem;
$fs-sm: 1rem;
$fs-md: 1.6rem;
$fs-lg: 1.8rem;
$fs-xl: 2rem;
$fs-2xl: 2.4rem;
$fs-3xl: 2.8rem;
$fs-4xl: 3.2rem;
$fs-5xl: 3.6rem;
$fs-6xl: 4rem;
$fs-7xl: 4.8rem;
$fs-8xl: 5.6rem;
$fs-9xl: 6.4rem;

// Helper classes
$fonts: (
  "raleway": $font-family-primary,
  "open-sans": $font-family-secondary,
);

.--font-family {
  @each $name, $value in $fonts {
    &-#{$name} {
      font-family: #{$value};
    }
  }
}

$weights: (
  "light": $font-weight-light,
  "regular": $font-weight-regular,
  "medium": $font-weight-medium,
  "semibold": $font-weight-semibold,
  "bold": $font-weight-bold,
);

.--font-weight {
  @each $name, $value in $weights {
    &-#{$name} {
      font-weight: #{$value};
    }
  }
}

$styles: (
  "normal": $font-style-normal,
  "italic": $font-style-italic,
);

.--font-style {
  @each $name, $value in $styles {
    &-#{$name} {
      font-style: #{$value};
    }
  }
}
