$radii-none: 0px; // Nenhum arredondamento
$radii-sm: 2px; // Pequeno
$radii-md: 4px; // Médio
$radii-lg: 8px; // Grande
$radii-xl: 12px; // Extra grande
$radii-2xl: 16px; // Extra extra grande
$radii-3xl: 24px; // Ultra grande
$radii-full: 9999px; // Arredondamento total (círculo)
