$space-xs: 0.4rem; // 4px
$space-sm: 0.8rem; // 8px
$space-md: 1.6rem; // 16px
$space-slg: 2.4rem; // 24px
$space-lg: 3.2rem; // 32px
$space-xl: 4rem; // 40px
$space-2xl: 4.8rem; // 48px
$space-4xl: 5.6rem; // 56px
$space-5xl: 7.2rem; // 72px
$space-6xl: 8.8rem; // 88px
$space-7xl: 10.4rem; // 104px
$space-8xl: 12rem; // 120px
$space-9xl: 14.4rem; // 144px
$space-10xl: 16rem; // 160px
$space-11xl: 17.6rem; // 176px
$space-12xl: 19.2rem; // 192px
$space-14xl: 22.4rem; // 224px
$space-16xl: 24rem; // 240px
$space-20xl: 28rem; // 280px
$space-24xl: 32rem; // 320px
$space-28xl: 36rem; // 360px
$space-32xl: 40rem; // 400px
$space-36xl: 44rem; // 440px
$space-40xl: 48rem; // 480px
$space-44xl: 52rem; // 520px
$space-48xl: 56rem; // 560px
$space-52xl: 60rem; // 600px
$space-56xl: 64rem; // 640px
$space-60xl: 68rem; // 680px
$space-64xl: 72rem; // 720px
$space-72xl: 80rem; // 800px
$space-80xl: 96rem; // 960px
$space-96xl: 112rem; // 1120px
