// Button.scss

.btn {
  font-family: var(--open-sans);
  font-weight: var(--bold);
  font-size: var(--text-md);
  padding: 0 var(--spacing-3xs);
  border-radius: 4px;
  line-height: 2rem;
  letter-spacing: 0.4px;
  border: 1px solid transparent;
  transition: all 0.3s ease;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-3xs);
  flex-direction: row;
  text-align: center;

  &.--small {
    padding: 8px 6px;
  }
  &.--large {
    padding: 14px 10px;
  }
  &.--contain {
    width: max-content;
  }
  &.--fluid {
    width: 100%;
  }

  .btn__loader {
    border: 3px solid currentColor;
    border-bottom-color: transparent;
  }
}

// -----------------------------
// Variantes dinâmicas
// -----------------------------

$variants: (
  insurance: (
    primary: (
      bg: var(--portoSeguros100),
      hover: var(--portoSeguros75),
      active: var(--portoSeguros85),
      text: var(--white),
    ),
    secondary: (
      bg: var(--alphaChannel),
      hover: var(--portoSeguros05),
      active: var(--portoSeguros15),
      text: var(--portoSeguros100),
      border: var(--portoSeguros100),
    ),
    ghost: (
      bg: var(--alphaChannel),
      hover: var(--portoSeguros05),
      active: var(--portoSeguros15),
      text: var(--portoSeguros100),
      border: var(--alphaChannel),
    ),
  ),
  banking: (
    primary: (
      bg: var(--portoBanking100),
      hover: var(--portoBanking75),
      active: var(--portoBanking85),
      text: var(--white),
    ),
    secondary: (
      bg: var(--alphaChannel),
      hover: var(--portoBanking05),
      active: var(--portoBanking15),
      text: var(--portoBanking100),
      border: var(--portoBanking100),
    ),
    ghost: (
      bg: var(--alphaChannel),
      hover: var(--portoBanking05),
      active: var(--portoBanking15),
      text: var(--portoBanking100),
      border: var(--alphaChannel),
    ),
  ),
  health: (
    primary: (
      bg: var(--portoSaude100),
      hover: var(--portoSaude75),
      active: var(--portoSaude85),
      text: var(--white),
    ),
    secondary: (
      bg: var(--alphaChannel),
      hover: var(--portoSaude05),
      active: var(--portoSaude15),
      text: var(--portoSaude100),
      border: var(--portoSaude100),
    ),
    ghost: (
      bg: var(--alphaChannel),
      hover: var(--portoSaude05),
      active: var(--portoSaude15),
      text: var(--portoSaude100),
      border: var(--alphaChannel),
    ),
  ),
  danger: (
    primary: (
      bg: var(--red100),
      hover: var(--red100),
      active: var(--red80),
      text: var(--white),
    ),
    secondary: (
      bg: var(--alphaChannel),
      hover: var(--red30),
      active: var(--red60),
      text: var(--red100),
      border: var(--red100),
    ),
    ghost: (
      bg: var(--alphaChannel),
      hover: var(--red30),
      active: var(--red60),
      text: var(--red100),
      border: var(--alphaChannel),
    ),
  ),
  negative: (
    primary: (
      bg: var(--white),
      hover: var(--white),
      active: var(--white),
      text: var(--portoSeguros100),
    ),
    secondary: (
      bg: var(--alphaChannel),
      hover: var(--alpha30),
      active: var(--alpha50),
      text: var(--white),
      border: var(--white),
    ),
    ghost: (
      bg: var(--alphaChannel),
      hover: var(--alpha70),
      active: var(--alpha50),
      text: var(--white),
      border: var(--alphaChannel),
    ),
  ),
);

@each $variant, $styles in $variants {
  .btn.--#{$variant} {
    @each $style, $props in $styles {
      &-#{$style} {
        color: map-get($props, text);
        background-color: map-get($props, bg);
        border-color: map-get($props, border, var(--alphaChannel));

        .btn__loader {
          border: 3px solid map-get($props, text);
          border-bottom-color: transparent;
        }

        &:hover {
          background-color: map-get($props, hover);
        }

        &:active {
          background-color: map-get($props, active);
        }
      }
    }
  }
}
