.tooltip__header-category-link {
  padding: 8px 14px;
  color: #404040;
  border-radius: 14px;
  border: 1px solid #e0e0e0;
  font-family: 'Open Sans', sans-serif;
  background-color: transparent;
  font-size: 14px;
  font-weight: 600;
  line-height: 2rem;
  cursor: pointer;
  outline-offset: -2px;
  display: flex;
  align-items: center;
  gap: 10px;
}