$radius-none: 0px; // Nenhum arredondamento
$radius-sm: 2px; // Pequeno
$radius-md: 4px; // Médio
$radius-lg: 8px; // Grande
$radius-xl: 12px; // Extra grande
$radius-2xl: 16px; // Extra extra grande
$radius-3xl: 24px; // Ultra grande
$radius-full: 9999px; // Arredondamento total (círculo)