@import '../../css/src/tokens/colors.scss';
@import '../../css/src/tokens/breakpoints.scss';

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

.slick-slide > div {
  flex: 1 0 auto;
  height: 100%;
}

[dir='rtl'] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}

.slick-arrow {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $portoBanking05;
  transition: 0.3s background ease;
  color: $portoSeguros100;
  font-size: 0;
  font-weight: 500;

  &:hover {
    background: $portoSegurosPrimary;
    color: $white;
  }
}

.slick-prev {
  position: absolute;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  z-index: 1;
}

.slick-next {
  position: absolute;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  z-index: 1;
}

.slick-prev:before {
  font-family: 'icomoon';
  content: '\\e929';
  font-size: 3rem;
  position: relative;
  right: 2px;
}

.slick-next:before {
  font-family: 'icomoon';
  content: '\\e921';
  font-size: 3rem;
  position: relative;
  left: 2px;
}

.slick-dots {
  display: flex !important;
  margin: 0 auto;
  justify-content: center;
  bottom: -4rem;
}

.slick-dots li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slick-dots li button {
  border: none;
  color: transparent;
  width: 12px;
  height: 12px;
  background: $black45;
  border-radius: 50%;
  cursor: pointer;
}

.slick-dots .slick-active button {
  background: $portoSeguros100;
}

.slick-dots li button::before {
  display: none;
}

li::marker {
  font-size: 0;
}
