// Grid container sizes (largura máxima dos containers)
$grid-container-xs: 304px; // mobile container width
$grid-container-sm: 680px; // tablet portrait container width
$grid-container-md: 896px; // tablet landscape container width
$grid-container-lg: 1224px; // desktop container width
$grid-container-xl: 1600px; // wide container width
