.radio__input {
	cursor: pointer;
	width: 2rem;
	height: 2rem;
	border-radius: 100%;
	border-width: 0.2rem;
	border-style: solid;
	border-color: var(--black70);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
}