// ================================
// Reset e Base Global Styles
// ================================

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%; // 1rem = 10px
}

body {
  max-width: 1920px;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-neutral-900);
  background-color: var(--color-neutral-0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

input,
textarea,
button,
select,
label,
p,
span,
div {
  font-family: inherit;
}

input::placeholder,
textarea::placeholder {
  font-family: inherit;
  color: inherit;
}

button {
  cursor: pointer;
  background: none;
  border: none;
}


:root {
  --color-brand-insurance-900: #{$color-brand-insurance-900};
  --color-brand-insurance-800: #{$color-brand-insurance-800};
  --color-brand-insurance-700: #{$color-brand-insurance-700};
  --color-brand-insurance-650: #{$color-brand-insurance-650};
  --color-brand-insurance-600: #{$color-brand-insurance-600};
  --color-brand-insurance-550: #{$color-brand-insurance-550};
  --color-brand-insurance-400: #{$color-brand-insurance-400};
  --color-brand-insurance-300: #{$color-brand-insurance-300};
  --color-brand-insurance-200: #{$color-brand-insurance-200};
  --color-brand-insurance-100: #{$color-brand-insurance-100};

  --color-brand-banking-900: #{$color-brand-banking-900};
  --color-brand-banking-800: #{$color-brand-banking-800};
  --color-brand-banking-700: #{$color-brand-banking-700};
  --color-brand-banking-650: #{$color-brand-banking-650};
  --color-brand-banking-600: #{$color-brand-banking-600};
  --color-brand-banking-550: #{$color-brand-banking-550};
  --color-brand-banking-400: #{$color-brand-banking-400};
  --color-brand-banking-300: #{$color-brand-banking-300};
  --color-brand-banking-200: #{$color-brand-banking-200};
  --color-brand-banking-100: #{$color-brand-banking-100};

  --color-brand-health-900: #{$color-brand-health-900};
  --color-brand-health-800: #{$color-brand-health-800};
  --color-brand-health-700: #{$color-brand-health-700};
  --color-brand-health-650: #{$color-brand-health-650};
  --color-brand-health-600: #{$color-brand-health-600};
  --color-brand-health-550: #{$color-brand-health-550};
  --color-brand-health-400: #{$color-brand-health-400};
  --color-brand-health-300: #{$color-brand-health-300};
  --color-brand-health-200: #{$color-brand-health-200};
  --color-brand-health-100: #{$color-brand-health-100};

  --color-neutral-900: #{$color-neutral-900};
  --color-neutral-800: #{$color-neutral-800};
  --color-neutral-700: #{$color-neutral-700};
  --color-neutral-600: #{$color-neutral-600};
  --color-neutral-550: #{$color-neutral-550};
  --color-neutral-500: #{$color-neutral-500};
  --color-neutral-400: #{$color-neutral-400};
  --color-neutral-300: #{$color-neutral-300};
  --color-neutral-200: #{$color-neutral-200};
  --color-neutral-100: #{$color-neutral-100};
  --color-neutral-0: #{$color-neutral-0};

  --color-neutral-offwhite-100: #{$color-neutral-offwhite-100};
  --color-neutral-offwhite-200: #{$color-neutral-offwhite-200};
  --color-neutral-offwhite-300: #{$color-neutral-offwhite-300};

  --color-accent-yellow-900: #{$color-accent-yellow-900};
  --color-accent-yellow-800: #{$color-accent-yellow-800};
  --color-accent-yellow-500: #{$color-accent-yellow-500};
  --color-accent-yellow-400: #{$color-accent-yellow-400};
  --color-accent-yellow-300: #{$color-accent-yellow-300};

  --color-accent-green-900: #{$color-accent-green-900};
  --color-accent-green-800: #{$color-accent-green-800};
  --color-accent-green-700: #{$color-accent-green-700};
  --color-accent-green-500: #{$color-accent-green-500};
  --color-accent-green-400: #{$color-accent-green-400};
  --color-accent-green-300: #{$color-accent-green-300};

  --color-accent-red-900: #{$color-accent-red-900};
  --color-accent-red-800: #{$color-accent-red-800};
  --color-accent-red-700: #{$color-accent-red-700};
  --color-accent-red-500: #{$color-accent-red-500};
  --color-accent-red-400: #{$color-accent-red-400};
  --color-accent-red-300: #{$color-accent-red-300};

  --color-alpha-0: #{$color-alpha-0};
  --color-alpha-10: #{$color-alpha-10};
  --color-alpha-30: #{$color-alpha-30};
  --color-alpha-50: #{$color-alpha-50};
  --color-alpha-70: #{$color-alpha-70};
  --color-alpha-transparent: #{$color-alpha-transparent};

  --font-family-primary: #{$font-family-primary};
  --font-family-secondary: #{$font-family-secondary};

  --font-weight-light: #{$font-weight-light};
  --font-weight-regular: #{$font-weight-regular};
  --font-weight-medium: #{$font-weight-medium};
  --font-weight-semibold: #{$font-weight-semibold};
  --font-weight-bold: #{$font-weight-bold};

  --font-style-normal: #{$font-style-normal};
  --font-style-italic: #{$font-style-italic};

  --font-size-xs: #{$font-size-xs};
  --font-size-sm: #{$font-size-sm};
  --font-size-md: #{$font-size-md};
  --font-size-lg: #{$font-size-lg};
  --font-size-xl: #{$font-size-xl};
  --font-size-2xl: #{$font-size-2xl};
  --font-size-3xl: #{$font-size-3xl};
  --font-size-4xl: #{$font-size-4xl};
  --font-size-5xl: #{$font-size-5xl};
  --font-size-6xl: #{$font-size-6xl};
  --font-size-7xl: #{$font-size-7xl};
  --font-size-8xl: #{$font-size-8xl};
  --font-size-9xl: #{$font-size-9xl};

  --space-xs: #{$space-xs};
  --space-sm: #{$space-sm};
  --space-md: #{$space-md};
  --space-lg: #{$space-lg};
  --space-xl: #{$space-xl};
  --space-2xl: #{$space-2xl};
  --space-3xl: #{$space-3xl};
  --space-4xl: #{$space-4xl};
  --space-5xl: #{$space-5xl};
  --space-6xl: #{$space-6xl};
  --space-7xl: #{$space-7xl};

  --breakpoint-xs: #{$breakpoint-xs};
  --breakpoint-sm: #{$breakpoint-sm};
  --breakpoint-md: #{$breakpoint-md};
  --breakpoint-lg: #{$breakpoint-lg};
  --breakpoint-xl: #{$breakpoint-xl};

  --grid-container-xs: #{$grid-container-xs};
  --grid-container-sm: #{$grid-container-sm};
  --grid-container-md: #{$grid-container-md};
  --grid-container-lg: #{$grid-container-lg};
  --grid-container-xl: #{$grid-container-xl};

  --z-index-base: #{$z-index-base};
  --z-index-menu: #{$z-index-menu};
  --z-index-overlay-tooltip: #{$z-index-overlay-tooltip};
  --z-index-tooltip: #{$z-index-tooltip};
  --z-index-always-on-top: #{$z-index-always-on-top};
  --z-index-overlay-modal: #{$z-index-overlay-modal};
  --z-index-modal: #{$z-index-modal};

  --radius-none: #{$radius-none};
  --radius-sm: #{$radius-sm};
  --radius-md: #{$radius-md};
  --radius-lg: #{$radius-lg};
  --radius-xl: #{$radius-xl};
  --radius-2xl: #{$radius-2xl};
  --radius-3xl: #{$radius-3xl};
  --radius-full: #{$radius-full};

  --shadow-xs: #{$shadow-xs};
  --shadow-sm: #{$shadow-sm};
  --shadow-md: #{$shadow-md};
  --shadow-lg: #{$shadow-lg};
  --shadow-xl: #{$shadow-xl};
  --shadow-2xl: #{$shadow-2xl};
  --shadow-3xl: #{$shadow-3xl};
}
