@import '../../../css/src/base.scss';

.tooltip__content {
  position: absolute;
  max-width: 230px;
  width: max-content;
  display: none;
  padding: 8px 16px;
  background-color: $black100;
  color: $white;
  border-radius: 8px;
  z-index: 1;
  transition: all .4s;

  .typography {
    color: inherit;
  }

  &.--left {
    right: 130%;
  }

  &.--right {
    left: 130%;
  }

  &.--top {
    transition: bottom, .3s ease-in-out;
    bottom: 130%;
  }

  &.--bottom {
    top: 130%;
  }
}