$portoSeguros100: #0046c0;
$portoSeguros85: #2662c9;
$portoSeguros75: #1381e2;
$portoSegurosPrimary: #00a1fc;
$portoSeguros65: #31b5fc;
$portoSeguros60: #66cafc;
$portoSeguros45: #8cd7fd;
$portoSeguros30: #b3e4fd;
$portoSeguros15: #d1effe;
$portoSeguros05: #eef9ff;

$portoBanking100: #0a0047;
$portoBanking85: #2f2663;
$portoBanking75: #2e3185;
$portoBankingPrimary: #2c3da8;
$portoBanking65: #546ac0;
$portoBanking60: #809ad9;
$portoBanking45: #9fb3e3;
$portoBanking30: #bfccec;
$portoBanking15: #d7e0f5;
$portoBanking05: #eff4ff;

$portoSaude100: #001864;
$portoSaude85: #263a7b;
$portoSaude75: #003883;
$portoSaudePrimary: #002375;
$portoSaude65: #33458d;
$portoSaude60: #667bac;
$portoSaude45: #96a9d0;
$portoSaude30: #b3bdd6;
$portoSaude15: #d3d9e8;
$portoSaude05: #e9ecf4;

$black100: #000000;
$black85: #1f1f1f;
$black75: #404040;
$black70: #5f5f5f;
$black65: #808080;
$black60: #999999;
$black45: #b3b3b3;
$black30: #c8c8c8;
$black15: #e0e0e0;
$black05: #f7f7f7;

$white: #ffffff;
$offWhite05: #eff4ef;
$offWhite: #ebf1ec;
$semiWhite: #dfe5e0;

$violet100: #48316d;
$violetPrimary: #8645ff;
$violet60: #b68fff;
$violet30: #dbc7ff;

$pink100: #890099;
$pinkPrimary: #f864f5;
$pink60: #fba2f9;
$pink30: #fdd1fc;

$yellow100: #94621f;
$yellow80: #dbbd49;
$yellowPrimary: #e7e033;
$yellow60: #f1ec85;
$yellow30: #f8f6c2;

$green100: #034d2e;
$green85: #29684e;
$green80: #01653b;
$greenPrimary: #2ccc6e;
$green60: #80e0a8;
$green30: #c0f0d3;

$red100: #842310;
$red85: #97453c;
$red80: #a6341d;
$redPrimary: #ff5a40;
$red60: #ff9c8c;
$red30: #ffcdc6;

$alpha: rgba(255, 255, 255, 0);
$alpha10: rgba(255, 255, 255, 0.3);
$alpha30: rgba(255, 255, 255, 0.3);
$alpha50: rgba(255, 255, 255, 0.5);
$alpha70: rgba(255, 255, 255, 0.7);
$alphaChannel: transparent;
