@import '../../../css/src/tokens/font-size.scss';
@import '../../../css/src/tokens/font-weight.scss';
@import '../../../css/src/tokens/colors.scss';

.card-testimonial__name {
  font-weight: $bold;
  font-size: $text-md;
  line-height: 2rem;
  color: $black85;
  width: 100%;
}
