@import '../../../css/src/base.scss';

.textarea__error-message {
  display: block;
  font-size: $text-2xs;
  color: $red80;
  font-family: $open-sans;
  font-weight: $medium;
  line-height: $text-md;
  margin: 0;
  position: absolute;
  bottom: -22px;
  left: 0;
}