.container {
  height: 60px;
  width: 100%;
  box-shadow: var(--shadow-sm);
  padding: 0px 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (min-width: var(--tablet-portrait)) {
    padding: 0px 16px;
  }
}

.button {
  cursor: pointer;
}