@import '../../../../css/src/base.scss';

.drawer__subcategory-item {
  width: max-content;
  padding: $spacing-sm $spacing-2xs;
  color: $black75;
  border-radius: $spacing-sm;
  border: 1px solid $black15;
  font-family: $open-sans;
  font-size: $text-3xs;
  font-weight: $semi-bold;
  line-height: 2rem;
  transition:
    border,
    color,
    0.3s ease;

  &:hover {
    color: $black75;
    background: $black15;
    border: 1px solid transparent;
  }

  &.selected {
    border: 1px solid $portoSeguros100;
    color: $portoSeguros100;
    background: transparent;
  }
}