@import '../../../css/src/tokens/breakpoints.scss';
@import '../../../css/src/tokens/spacing.scss';

.banner-hero__image {
  width: 100%;

  img {
    height: 26rem;
    width: 100%;
    max-height: 100%;
    object-fit: cover;
  }

  @media (min-width: $tablet-portrait) {
    height: 100%;
    margin-top: $spacing-md;

    img {
      margin-top: 0;
      height: 100%;
      width: 50%;
      position: absolute;
      right: 0;
      top: 0;
      left: unset;
    }
  }
}
