.section-footer {
	&__modal-buttons {
		display: flex;
		flex-direction: column;
		gap: 2.4rem;
	}

	&__cookies {
		color: #fff;
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		font-size: 1.4rem;
		line-height: 2rem;
		text-decoration: none;
	}
}