.input__root {
  position: relative;
  width: 100%;

  &.--fluid {
    width: 100%;
  }

  &.--contain {
    width: max-content;
  }

  &.--filled .input__label {
    color: $color-neutral-500;
    font-weight: $font-weight-medium;
    font-size: $font-size-xs;
    top: 0.4rem;
  }

  &.--focused {
    .input__box {
      border-color: $color-brand-insurance-500;
      background-color: rgba(0, 0, 0, 0.02);
    }
  }

  &.--disabled {
    .input__field {
      background-color: $color-neutral-100;
      color: $color-neutral-700;
      pointer-events: none;
    }

    .input__label,
    .input__helper-text {
      color: $color-neutral-500;
    }
  }

  &.--error {
    .input__box {
      border-color: $color-accent-red-500;
    }
    .input__label {
      color: $color-accent-red-500;
    }
    .input__helper-text {
      color: $color-accent-red-500;
    }
  }

  &.--default .input__box,
  &.--outlined .input__box {
    border: 1px solid $color-neutral-400;
    border-radius: $radius-sm;
    background-color: transparent;
    transition: border-color 0.2s ease;
  }
}

.input__box {
  position: relative;
  height: 48px;
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 0 1.2rem;
}

.input__label {
  pointer-events: none;
  position: absolute;
  left: 1.2rem;
  top: 1.4rem;
  font-family: $font-family-primary;
  font-size: $font-size-sm;
  color: $color-neutral-600;
  transition: all 0.2s ease;
}

.input__field {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  font-family: $font-family-primary;
  font-size: $font-size-md;
  color: $color-neutral-800;
  outline: none;
  transition: all 0.3s ease;
}

.input__helper-text,
.input__error-message {
  font-size: $font-size-xs;
  font-family: $font-family-primary;
  margin-top: 0.4rem;
  margin-left: 1.2rem;
  line-height: 1.6rem;
}

.input__helper-text {
  color: $color-neutral-500;
}

.input__error-message {
  color: $color-accent-red-500;
}

.input__loader {
  position: absolute;
  top: 12px;
  right: 16px;
}
