@import '../../../css/src/tokens/colors.scss';

.checkbox__root {
  display: flex;
  flex-direction: row;
  align-items: center;
  outline: none;
  gap: 12px;

  &.--default {
    .checkbox__input {
      background-color: $white;
    }

    .checkbox__svg {
      display: none;
    }
  }

  &.--checked {
    .checkbox__input {
      background-color: $portoSeguros100;
      border-color: $portoSeguros100;
    }

    .checkbox__svg {
      display: unset;
    }
  }

  &.--disabled {
    .checkbox__input {
      background-color: $black15;
      border-color: $black65;
    }

    .checkbox__svg {
      display: none;
    }

    .checkbox__label {
      color: $black65;
    }
  }
}
