.modal__body {
  position: relative;
  font-family: var(--porto-roobert);
  padding-bottom: 5rem;
  overflow: scroll;
  height: calc(75% - 50px);
  overflow-x: hidden;

  @media (min-width: var(--tablet-landscape)) {
    height: calc(82% - 40px);
  }

  @media (min-width: var(--desktop)) {
    height: calc(82% - 30px);
  }

  @media (min-width: var(--wide)) {
    height: calc(82% - 30px);
  }

  &::-webkit-scrollbar-track {
    background: var(--black05);
  }

  &::-webkit-scrollbar-thumb {
    background: var(--black15);
    width: 16px;
    height: 40px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: var(--black30);
  }

  p {
    font-weight: var(--regular);
    font-size: var(--text-4xs);
    line-height: 1.8rem;
    margin-bottom: 1rem;
  }
}