@import '../../../../packages/css/src/tokens/colors.scss';

.banner-body__benefits {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-top: 1.6rem;

  .icon {
    color: $black100;
  }
}
