.pet-data__section {
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
}

.section {
  &__list {
    margin-top: 8px;
    display: flex;
    gap: 0.8rem;
  }

  &__btn {
    width: 100%;
    font-family: var(--font-family-primary);
    font-size: var(--font-size-xl);
    text-transform: capitalize;
    padding: 16px 0;
    border-radius: var(--radius-md);

    border: 1px solid var(--color-neutral-700);
    color: var(--color-neutral-700);
    background-color: var(--color-alpha-30);

    svg {
      fill: var(--color-neutral-700);
    }

    p {
      color: var(--color-neutral-700);
    }

    display: flex;
    gap: 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__btn-active {
    border: 1px solid var(--color-brand-insurance-900);
    color: var(--color-brand-insurance-900);
    background-color: var(--color-brand-insurance-100);

    svg path {
      fill: var(--color-brand-insurance-900);
    }

    p {
      color: var(--color-brand-insurance-900);
    }
  }
}
