# cafile=config/nexus/certificate.crt
# registry=https://nexusportoprd.portoseguro.brasil/repository/npm-group/

# Configuração para o Sass ignorar avisos de depreciação
sass_quiet_deps=true
sass_quiet_deprecation_warnings=true
