.notification__root {
  position: relative;
  width: 30.4rem; // 304px padronizado
  padding: var(--space-md);
  border-radius: var(--radius-sm);
  display: flex;
  align-items: flex-start;
  background-color: var(--white);
  border: 1px solid var(--neutral-300);
  gap: var(--space-sm);

  &.--default {
    background-color: var(--color-neutral-0);
    border: 1px solid var(--color-neutral-300);

    .notification__title {
      color: var(--color-neutral-800);
    }
    .notification__description {
      color: var(--color-neutral-600);
    }
    .notification__link,
    .notification__icon {
      color: var(--color-brand-insurance-500);
    }
  }

  &.--outlined {
    background-color: var(--color-neutral-100);
    border: none;

    .notification__title {
      color: var(--color-neutral-800);
    }
    .notification__description {
      color: var(--color-neutral-600);
    }
    .notification__link,
    .notification__icon {
      color: var(--color-brand-insurance-500);
    }
  }

  &.--information {
    background-color: var(--color-brand-insurance-500);
    border: none;

    .notification__title,
    .notification__description,
    .notification__link,
    .notification__icon {
      color: var(--color-neutral-0);
    }
  }

  &.--attention {
    background-color: var(--color-accent-yellow-300);
    border: none;

    .notification__title {
      color: var(--color-neutral-800);
    }
    .notification__description {
      color: var(--color-neutral-600);
    }
    .notification__link,
    .notification__icon {
      color: var(--color-accent-yellow-800);
    }
  }

  &.--success {
    background-color: var(--color-accent-green-300);
    border: none;

    .notification__title {
      color: var(--color-neutral-800);
    }
    .notification__description {
      color: var(--color-neutral-600);
    }
    .notification__link,
    .notification__icon {
      color: var(--color-accent-green-800);
    }
  }

  &.--error {
    background-color: var(--color-accent-red-300);
    border: none;

    .notification__title {
      color: var(--color-neutral-800);
    }
    .notification__description {
      color: var(--color-neutral-600);
    }
    .notification__link,
    .notification__icon {
      color: var(--color-accent-red-800);
    }
  }
}

.notification__icon {
  width: var(--space-xl);
  min-width: var(--space-xl);
  height: var(--space-xl);
  display: flex;
  align-items: center;
  justify-content: center;
}

.notification__content {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
}

.notification__title {
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
  line-height: 2.4rem;
}

.notification__description {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-regular);
  line-height: 2.4rem;
  margin-top: 0.4rem;
}

.notification__link {
  margin-top: var(--space-xs);
  font-family: var(--font-family-primary);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-medium);
  color: var(--color-brand-insurance-500);
  text-align: end;
  cursor: pointer;
  text-decoration: underline;

  &:hover {
    opacity: 0.8;
  }
}
