.link {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  padding: var(--space-sm);
  border-radius: 6px;
  line-height: 2rem;
  text-decoration: none;
  text-align: left;
  border: 1px solid transparent;
  transition: all 0.3s ease;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;

  &.--small {
    height: 36px;
  }

  &.--large {
    height: 48px;
    padding: 14px 16px;
  }

  &.--contain {
    width: max-content;
  }

  &.--fluid {
    width: 100%;
  }

  &.--insurance {
    &-primary {
      color: #fff;
      background-color: #0046c0;
      border-color: transparent;

      &:hover {
        background-color: #1381e2;
      }

      &:active {
        background-color: #2662c9;

        a {
          color: #fff;
        }
      }
    }

    &-secondary {
      color: #0046c0;
      background-color: transparent;
      border-color: #0046c0;

      &:hover {
        background-color: #eef9ff;
      }

      &:active {
        background-color: #d1effe;

        a {
          color: #0046c0;
        }
      }
    }

    &-ghost {
      color: #0046c0;
      background-color: transparent;
      border-color: transparent;

      &:hover {
        background-color: #eef9ff;
      }

      &:active {
        background-color: #d1effe;

        a {
          color: #0046c0;
        }
      }
    }
  }

  &.--negative {
    &-primary {
      color: #0046c0;
      background-color: #fff;
      border-color: transparent;

      &:hover {
        background-color: #fff;
        opacity: 0.7;
      }

      &:active {
        background-color: #fff;

        a {
          color: #0046c0;
        }

        opacity: 0.9;
      }
    }

    &-secondary {
      color: #fff;
      background-color: transparent;
      border-color: #fff;

      &:hover {
        background-color: rgba(255, 255, 255, 0.3);
      }

      &:active {
        background-color: rgba(255, 255, 255, 0.5);

        a {
          color: #fff;
        }
      }
    }

    &-ghost {
      color: #fff;
      background-color: transparent;
      border-color: transparent;

      &:hover {
        background-color: rgba(255, 255, 255, 0.7);
      }

      &:active {
        background-color: rgba(255, 255, 255, 0.5);

        a {
          color: #fff;
        }
      }
    }
  }

  &.--disabled {
    pointer-events: none;

    &-primary {
      color: #999999;
      background-color: #e0e0e0;
      border-color: transparent;

      &:hover {
        background-color: #e0e0e0;
      }

      &:active {
        background-color: #e0e0e0;

        a {
          color: #999999;
        }
      }
    }

    &-secondary {
      color: #999999;
      background-color: transparent;
      border-color: #999999;

      &:hover {
        background-color: transparent;
      }

      &:active {
        background-color: transparent;

        a {
          color: #999999;
        }
      }
    }

    &-ghost {
      color: #999999;
      background-color: transparent;
      border-color: transparent;

      &:hover {
        background-color: transparent;
      }

      &:active {
        background-color: transparent;

        a {
          color: #999999;
        }
      }
    }
  }
}
