$shadow-xs: 0px 1px 2px 0 rgba(10, 13, 18, 0.06);
$shadow-sm: 0px 1px 2px 0 rgba(10, 13, 18, 0.1), 0px 1px 3px 0 rgba(10, 13, 18, 0.1);
$shadow-md: 0px 4px 6px -1px rgba(10, 13, 18, 0.1), 0px 2px 4px -2px rgba(10, 13, 18, 0.06);
$shadow-lg: 0px 12px 16px -4px rgba(10, 13, 18, 0.08), 0px 2px 4px -2px rgba(10, 13, 18, 0.03), 0px 2px 2px -1px rgba(10, 13, 18, 0.04);
$shadow-xl: 0px 20px 24px -4px rgba(10, 13, 18, 0.08), 0px 8px 8px -4px rgba(10, 13, 18, 0.03), 0px 3px 3px -2px rgba(10, 13, 18, 0.04);
$shadow-2xl: 0px 24px 48px -12px rgba(10, 13, 18, 0.18), 0px 4px 4px -2px rgba(10, 13, 18, 0.04);
$shadow-3xl: 0px 32px 64px -12px rgba(10, 13, 18, 0.14), 0px 5px 5px -2.5px rgba(10, 13, 18, 0.04);